/* For mobile devices */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
}

.navbar{
    padding: 5%;
    display: flex;
    flex-direction: column;
    background-color: #111111;
    text-align: center;
}

.navbar a{
    padding: 3%;
    text-decoration: none;
    color: #f5f5f5;
}

.logo-text h1{
    margin: 0;
    font-family: "Great Vibes", 'Times New Roman', sans-serif;
    font-weight: 400;
}

.nav-links{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Verdana, sans-serif;
    font-weight: 400;
}

.body-container{
    display: flex;
    flex-direction: column;
}

.img-container{
    margin: 5%;
}

.img-container img{
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(50%);
}

.info-container{
    margin: 8% 5% 8% 5%;
    display: flex;
    flex-direction: column;
}

.info-heading{
    margin: 0 0 5% 0;
    padding: 2%;
    align-self: center;
    font-family: "Roboto", Verdana, sans-serif;
    font-weight: 100;
    background-color: #111111;
    color: #f5f5f5;
}

.info-content{
    font-family: "Space Grotesk", Arial, sans-serif;
}

.info-content p{
    text-align: justify;
}

.address-container{
    margin: 8% 5% 8% 5%;
    display: flex;
    flex-direction: column;
}

.address-heading{
    margin: 0 0 5% 0;
    padding: 2%;
    align-self: center;
    font-family: "Roboto", Verdana, sans-serif;
    font-weight: 100;
    background-color: #111111;
    color: #f5f5f5;
}

.address-subtitle{
    font-weight: bold;
}

.address-content{
    margin: 0 0 5% 0;
    font-family: "Space Grotesk", Arial, sans-serif;
}

.address-img img{
    width: 100%;
    height: auto;
    filter: grayscale(50%);
}

.contact-container{
    margin: 8% 5% 8% 5%;
    display: flex;
    flex-direction: column;
}

.contact-heading{
    margin: 0 0 5% 0;
    padding: 2%;
    align-self: center;
    font-family: "Roboto", Verdana, sans-serif;
    font-weight: 100;
    background-color: #111111;
    color: #f5f5f5;
}

.contact-form{
    padding: 5%;
}

.the-form{
    display: flex;
    flex-direction: column;
}

.form-inputs input{
    margin: 0 0 5% 0;
    padding: 1%;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
}

.form-inputs input:placeholder-shown{
    font-family: "Space Grotesk", Arial, sans-serif;
}

.form-inputs input:focus{
    outline: none;
    border-bottom: 2px solid #111111;
}

.form-submit{
    margin: 5% 0 0 0;
    align-self: center;
}

.form-submit input{
    padding: 5% 10% 5% 10%;
    border: 2px solid #111111;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.footer{
    padding: 7%;
    display: flex;
    flex-direction: column;
    background-color: #111111;
    color: #f5f5f5;
    text-align: center;
}

.newsletter-signup{
    margin: 5%;
    font-family: "Roboto", Verdana, sans-serif;
}

.newsletter-signup a{
    text-decoration: none;
    color: #f5f5f5;
}

.newsletter-signup-btn{
    padding: 3%;
    border: 1px solid #f5f5f5;
}

.newsletter-signup-btn:hover{
    background-color: #f5f5f5;
}

.newsletter-signup-btn:hover a{
    color: #111111;
}

.footer-links{
    display: flex;
    flex-direction: column;
    font-family: "Space Grotesk", Arial, sans-serif;
}

.footer-links a{
    margin: 1%;
    padding: 1%;
    text-decoration: none;
    color: #f5f5f5;
}

.footer-links a:hover{
    color: wheat;
}

/* For desktop devices */
@media screen and (min-width: 900px){
    .form-submit input:hover{
        background-color: #111111;
        color: #f5f5f5;
    }
}